body {
    margin: 0px;
}

h2 {
    margin-top: 15px;
    text-align: center;
}

img {
    width: 180px;
    height: 90px;
    max-width: 240px;
    max-height: 130px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    gap: 10px;
}


.flex-1 {
    justify-content: space-evenly;
}

.flex-2 {
    justify-content: space-evenly;
}

.flex-3 {
    justify-content: space-evenly;
}

.flex-4 {
    justify-content: space-evenly;
}

.flex-5 {
    justify-content: space-evenly;
}

.flex-6 {
    justify-content:space-evenly;
}
