.calsi{
    text-align: center;
    margin-top: 50px;
    position: absolute;
    background-color: rgb(146, 9, 9);
    width: 300px;
    padding-left: 70px;
    padding-right: 50px;
    top: 100px;
    bottom: 100px;
    transition: 0.25px;
  display border: none;
 background:radius 30px;
  
}

display{
    border: none;
    background-color: aqua;
    background: radius 30px;
    width: 245px;
    font-size: 20;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid white;
    color: black;
}