.calsi{
    text-align: center;
    margin-top: 50px;
    position: absolute;
    background-color: rgb(146, 9, 9);
    width: 300px;
    padding-left: 70px;
    padding-right: 50px;
    top: 100px;
    bottom: 180px;
    transition: 0.25px;
}

